<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class ="navbar navbar-default">
    
        <a class="navbar-brand"><b>Smart water Meter</b></a>   
    
    <ul class="nav navbar-nav">
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/Water Reading Dashboard">Water Dashboard</a></li>
        <li><a routerLink="/System Health Dashboard">System Health Dashboard</a></li>
        <li><a routerLink="/Water Readings">Water Reading Table</a></li>
        <li><a routerLink="/Contact">Contact Us </a></li>
        <img src="sit.png" alt="Singapore Institute Of Technology" width="70" height="60" hspace="30">
        <img src="digi.png" alt="Digipen Singapore" width="70" height="60" hspace="0">
        <img src="Team3.jfif" alt="Capstone Team 3" width="70" height="60" hspace="30">
    </ul>
</div>


<router-outlet> </router-outlet>


